/*анимации*/

/*анимации с сердцем*/
.card__icon-button:focus {
  border-color: transparent;
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--border-color, #000);
}

.like-icon:hover .core {
  fill: var(--border-color, #000);
  transition-delay: 0s;
  transition-duration: 0.3s;
}

.like-icon:active .core {
  fill: var(--filling-color, #ff0000);
  transition-delay: 0s;
  transition-duration: 0.3s;
}

.like-icon:hover .main-body {
  fill: var(--main-color, #000);
  transition-delay: 0.05s;
  transition-duration: 0.3s;
}

.like-icon:active .main-body {
  fill: var(--filling-color, #ff0000);
  transition-delay: 0.05s;
  transition-duration: 0.3s;
}

.like-icon.is-liked .core {
  fill: var(--filling-color, #ff0000);
  transition-delay: 0s;
  transition-duration: 0.3s;
}

.like-icon.is-liked .main-body {
  fill: var(--filling-color, #ff0000);
  transition-delay: 0.05s;
  transition-duration: 0.3s;
}

.like-icon.is-liked .contour {
  fill: var(--filling-color, #ff0000);
  transition-delay: 0.06s;
  transition-duration: 0.3s;
}

.is-liked .heart {
  transform-origin: center;
  animation-name: heart-scale;
  animation-delay: 0.1s;
  animation-direction: alternate;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
}

.like-icon.is-liked .sparks {
  animation-name: heart-sparks;
  animation-delay: 0.3s;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
}

/*анимации кнопок*/
.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--border-color);
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; /*псевдоэлемент находится за текстом */
  width: 100%;
  height: 100%;
  background-color: black;
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0); /*изначально скрыт */
  transform-origin: left; /* масштабирование от левого края*/
}

.button:hover::before {
  transform: scaleX(1);
}

/*кейфреймы*/
@keyframes heart-scale {
  from {
    scale: 1;
  }
  50% {
    scale: 1.5;
  }
  100% {
    scale: 1;
  }
}

@keyframes heart-sparks {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
